# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build products
build/
DerivedData/

# Swift Package Manager
.build/

# Archives
*.xcarchive

# Playground
timeline.xctimeline
playground.xcworkspace
